<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging.Portable" version="2.3.1" targetFramework="portable-net45+win" />
  <package id="Microsoft.Composition" version="1.0.27" targetFramework="portable-net45+win+wpa81" />
  <package id="PCLStorage" version="1.0.0" targetFramework="portable-net45+win+wpa81" />
  <package id="Prism.PubSubEvents" version="1.1.2" targetFramework="portable-net45+win+wpa81" />
</packages>